name: CD

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
    
    - name: Restore
      run: dotnet restore
    
    - name: Build
      run: dotnet build -c Release --no-restore
    
    - name: Pack
      run: dotnet pack -c Release -o .artifacts --no-restore --no-build
      
    - name: Push
      run: dotnet nuget push "**/dotnet-depends.*.nupkg" -k ${{ secrets.NUGET_APIKEY }}  -s https://api.nuget.org/v3/index.json
    
    - uses: actions/upload-artifact@v2
      with:
        name: nuget
        path: .artifacts
